celery
click
click-didyoumean
click-plugins
click-repl
dataclasses
Django
django-cors-headers
django-htmlmin
djangorestframework
djongo
html5lib
importlib-metadata
oauthlib
Pillow
prompt-toolkit
pycparser
python3-openid
requests
requests-oauthlib
social-auth-app-django
social-auth-core
sqlparse
psycopg2
virtualenvwrapper-win
